container_commands:
    01_migrate:
        command: "django-admin.py migrate"
        leader_only: true
    02_createsuperuser:
        command: "echo \"from accounts.models import Account; Account.objects.create_superuser('Dias', 'Nurshanov', 'nurshanov.dias@gmail.com', 'miku', '1234456789')\" | python manage.py shell"
        leader_only: true
    option_setting:
        aws:elasticbeanstalk:application:environment:
            DJANGO_SETTINGS_MODULE: djangoProject2.settings